#include <input/processors/zmk-input-processor-keybind.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    chosen { zmk,physical-layout = &gggw_crosses_36_layout; };

    /*
     * ============================================================
     * CUSTOM INPUT PROCESSORS
     * ============================================================
     */

    input_processors {
        /*
         * Horizontal scroll gate.
         *
         * Only affects horizontal-wheel events.
         * No track-remainders property is used intentionally.
         *
         * With a 1:3 scale, small accidental horizontal movement
         * is discarded instead of accumulating into a scroll event.
         */

        horizontal_scroll_gate: horizontal_scroll_gate {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_HWHEEL>;
        };
    };

    /*
     * ============================================================
     * TRACKBALL NAVIGATION PROCESSORS
     * ============================================================
     */
    /*
     * NAV
     *
     * Right trackball while holding Space:
     *   Right = Right Arrow
     *   Left  = Left Arrow
     *   Up    = Up Arrow
     *   Down  = Down Arrow
     *
     * Hold Ctrl manually when word / edge navigation is wanted.
     */

    text_nav: text_nav {
        compatible = "zmk,input-processor-keybind";
        #input-processor-cells = <0>;
        track_remainders;
        bindings =
            <&kp RIGHT_ARROW>,
            <&kp LEFT_ARROW>,
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>;

        tick = <90>;
        wait-ms = <0>;
        tap-ms = <10>;
    };

    /*
     * APP NAV
     *
     * Right trackball while holding T:
     *   Right = Tab
     *   Left  = Shift+Tab
     *
     * T also holds Left Alt, producing:
     *   Right = Alt+Tab
     *   Left  = Alt+Shift+Tab
     */

    app_nav: app_nav {
        compatible = "zmk,input-processor-keybind";
        #input-processor-cells = <0>;
        track_remainders;
        bindings = <&kp TAB>, <&kp LS(TAB)>, <&none>, <&none>;

        tick = <90>;
        wait-ms = <0>;
        tap-ms = <10>;
    };

    /*
     * CONTEXT NAV
     *
     * Right trackball while holding G:
     *   Right = Ctrl+Page Down
     *   Left  = Ctrl+Page Up
     */

    context_nav: context_nav {
        compatible = "zmk,input-processor-keybind";
        #input-processor-cells = <0>;
        track_remainders;
        bindings = <&kp LC(PAGE_DOWN)>, <&kp LC(PAGE_UP)>, <&none>, <&none>;

        tick = <90>;
        wait-ms = <0>;
        tap-ms = <10>;
    };

    /*
     * VOLUME
     *
     * Left trackball while holding Func / BT:
     *   Down = Volume Down
     *   Up   = Volume Up
     */

    volume_nav: volume_nav {
        compatible = "zmk,input-processor-keybind";
        #input-processor-cells = <0>;
        track_remainders;
        bindings = <&none>, <&none>, <&kp C_VOL_DN>, <&kp C_VOL_UP>;

        tick = <45>;
        wait-ms = <0>;
        tap-ms = <5>;
    };

    /*
     * ============================================================
     * MACROS
     * ============================================================
     */

    macros {
        /*
         * APP NAV HOLD
         *
         * Parameter = App Nav layer number.
         *
         * Hold:
         *   Activate the supplied layer.
         *   Hold Left Alt.
         *
         * Release:
         *   Release Left Alt.
         *   Deactivate the supplied layer.
         */

        app_hold: app_hold {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&mo MACRO_PLACEHOLDER>,
                <&macro_press>,
                <&kp LALT>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LALT &macro_param_1to1>,
                <&macro_release>,
                <&mo MACRO_PLACEHOLDER>;
        };
    };

    /*
     * ============================================================
     * KEY BEHAVIORS
     * ============================================================
     */

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        Tap_Pref_200: Tap_Pref_200 {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREF_200";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        Tap_Pref_275: Tap_Pref_275 {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREF_275";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <275>;
        };

        /*
         * T
         *
         * Tap  = T
         * Hold = App Nav layer + Left Alt
         */

        app_nav_tap: app_nav_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&app_hold>, <&kp>;
        };
    };

    /*
     * ============================================================
     * COMBOS
     * ============================================================
     */

    combos {
        compatible = "zmk,combos";

        underscore {
            bindings = <&kp MINUS>;
            key-positions = <26 27>;
        };

        colon {
            bindings = <&kp SEMICOLON>;
            key-positions = <27 28>;
        };

        slash {
            bindings = <&kp NON_US_BACKSLASH>;
            key-positions = <28 29>;
        };
    };

    /*
     * ============================================================
     * KEYMAP
     *
     * Layer 0 = Base
     * Layer 1 = Mouse
     * Layer 2 = Nav
     * Layer 3 = Num
     * Layer 4 = Bracket
     * Layer 5 = Func / BT
     * Layer 6 = App Nav
     * Layer 7 = Context Nav
     * ============================================================
     */

    keymap {
        compatible = "zmk,keymap";

        /*
         * LAYER 0
         * BASE
         */

        default_layer {
            display-name = "Base";
            bindings = <
&kp Q                       &kp W                     &kp E                     &kp R                  &app_nav_tap 6 T  &kp Y      &kp U                          &kp I                      &kp O                      &kp P
&Tap_Pref_200 LEFT_SHIFT A  &Tap_Pref_200 LEFT_WIN S  &Tap_Pref_275 LEFT_ALT D  &Tap_Pref_200 LCTRL F  &lt 7 G           &kp H      &Tap_Pref_200 RIGHT_CONTROL J  &Tap_Pref_275 RIGHT_ALT K  &Tap_Pref_200 RIGHT_WIN L  &Tap_Pref_200 RIGHT_SHIFT SQT
&kp Z                       &kp X                     &kp C                     &kp V                  &lt 1 B           &lt 1 N    &kp M                          &kp COMMA                  &kp DOT                    &kp FSLH
                                                      &kp TILDE                 &lt 2 SPACE            &lt 3 TAB         &lt 5 RET  &lt 4 BACKSPACE                &kp DEL
            >;
        };

        /*
         * LAYER 1
         * MOUSE
         */

        Mouse_Layer {
            display-name = "Lower";
            bindings = <
&none   &none      &mkp MB4   &mkp MB5   &kp LS(LG(S))  &none  &none   &none   &none   &none
&trans  &trans     &trans     &trans     &kp LS(LG(T))  &none  &trans  &trans  &trans  &trans
&none   &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LG(V)      &none  &none   &none   &none   &none
                   &mkp RCLK  &mkp LCLK  &mkp MCLK      &none  &none   &none
            >;
        };

        /*
         * LAYER 2
         * NAV
         */

        Nav_Layer {
            display-name = "Raise";
            bindings = <
&none   &none   &kp LC(Z)  &kp LC(Y)  &kp ESC             &kp PG_UP      &kp HOME        &kp UP_ARROW  &kp END          &trans
&trans  &trans  &trans     &trans     &kp K_CONTEXT_MENU  &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT_ARROW  &trans
&none   &none   &none      &none      &kp LG(V)           &trans         &trans          &trans        &trans           &trans
                &trans     &trans     &trans              &kp RET        &kp BACKSPACE   &kp DEL
            >;
        };

        /*
         * LAYER 3
         * NUM
         */

        Num_Layer {
            display-name = "Mouse";
            bindings = <
&none   &none   &none   &none   &none  &kp EQUAL  &kp N7  &kp N8   &kp N9  &kp MINUS
&trans  &trans  &trans  &trans  &none  &kp MINUS  &kp N4  &kp N5   &kp N6  &kp FSLH
&none   &none   &none   &none   &none  &kp PLUS   &kp N1  &kp N2   &kp N3  &kp STAR
                &none   &none   &none  &kp RET    &kp N0  &kp DOT
            >;
        };

        /*
         * LAYER 4
         * BRACKET
         */

        Bracket_Layer {
            display-name = "Mouse";
            bindings = <
&none  &none  &kp LPAR  &kp RPAR  &kp GRAVE  &none  &none  &none  &none  &none
&none  &none  &kp LBKT  &kp RBKT  &kp PIPE   &none  &none  &none  &none  &none
&none  &none  &kp LT    &kp GT    &kp CARET  &none  &none  &none  &none  &none
              &none     &none     &none      &none  &none  &none
            >;
        };

        /*
         * LAYER 5
         * FUNC / BT
         */

        Func_BT_Layer {
            display-name = "FuncBT";
            bindings = <
&kp F9  &kp F10  &kp F11  &kp F12  &none  &studio_unlock  &trans             &trans         &trans         &bt BT_CLR
&kp F5  &kp F6   &kp F7   &kp F8   &none  &none           &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_GUI  &kp RIGHT_SHIFT
&kp F1  &kp F2   &kp F3   &kp F4   &none  &bt BT_SEL 0    &bt BT_SEL 1       &bt BT_SEL 2   &bt BT_SEL 4   &trans
                 &none    &none    &none  &none           &none              &none
            >;
        };

        /*
         * LAYER 6
         * APP NAV
         */

        app_nav_layer {
            display-name = "AppNav";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        /*
         * LAYER 7
         * CONTEXT NAV
         */

        context_nav_layer {
            display-name = "ContextNav";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};

/*
 * ============================================================
 * LEFT TRACKBALL
 * ============================================================
 *
 * DEFAULT
 *   Scroll.
 *
 * DIRECTION
 *   Horizontal scrolling is inverted.
 *   Vertical scrolling is unchanged.
 *
 * HORIZONTAL SCROLL GATE
 *   Horizontal movement is scaled 1:3 without retaining
 *   remainders.
 *
 *   Small accidental sideways movements are suppressed.
 *
 *   To adjust:
 *     1 2 = easier horizontal scrolling
 *     1 3 = current setting
 *     1 4 = harder horizontal scrolling
 *
 * FUNC / BT LAYER 5
 *   Vertical movement controls volume.
 *
 * BLE rate limiting for the peripheral trackball remains handled
 * by crosses_left.overlay.
 */

&trackball_peripheral_listener {
    input-processors =
        <&zip_xy_to_scroll_mapper>,
        <&zip_scroll_transform INPUT_TRANSFORM_X_INVERT>,
        <&horizontal_scroll_gate 1 3>,
        <&zip_scroll_scaler 1 2>;

    volume_navigation {
        layers = <5>;
        input-processors = <&volume_nav>;
    };
};

/*
 * ============================================================
 * RIGHT TRACKBALL
 * ============================================================
 *
 * DEFAULT
 *   Mouse pointer.
 *
 * AUTOMOUSE
 *   Movement activates Mouse layer 1 for 750 ms.
 *
 * NAV LAYER 2
 *   Hold Space:
 *     Right = Right Arrow
 *     Left  = Left Arrow
 *     Up    = Up Arrow
 *     Down  = Down Arrow
 *
 * APP NAV LAYER 6
 *   Hold T:
 *     Left Alt remains held.
 *     Right = Alt+Tab
 *     Left  = Alt+Shift+Tab
 *
 * CONTEXT NAV LAYER 7
 *   Hold G:
 *     Right = Ctrl+Page Down
 *     Left  = Ctrl+Page Up
 */

&trackball_central_listener {
    input-processors = <&zip_temp_layer 1 750>, <&zip_ble_report_rate_limit>;

    text_navigation {
        layers = <2>;
        input-processors = <&text_nav>;
    };

    app_navigation {
        layers = <6>;
        input-processors = <&app_nav>;
    };

    context_navigation {
        layers = <7>;
        input-processors = <&context_nav>;
    };
};
